     
<div class="top-image-container scrollify" id="1">
  <%= image_tag @s3+"ikeatsu-works-logo.png", class: 'for-smartphone-logo' %>
  <%= image_tag @s3+"profile.jpg", class: 'profile-image' %>
</div>

<div class="concept-container scrollify">
  <%= image_tag @s3+"design-engineering-02.jpg", class: 'back-image fadein' %>
</div>

<div id="2">
  <div class="work-container scrollify">
    <div>
      <%= image_tag @s3+"eye-catch-vsprogram.jpg", class: 'work-eye-catch fadein' %>
    </div>
    <div class="work-text-container fadein">
      <h2>V.S.Program</h2>
      <p>Design Software Concept
      <br>Design System Development /  Product Design</p>
    </div>
  </div>
  
  <div class="work-container scrollify">
    <div>
      <%= image_tag @s3+"eye-catch-silphy.jpg", class: 'work-eye-catch fadein' %>
    </div>
    <div class="work-text-container fadein">
      <h2>NISSAN SILPHY</h2>
      <p>Production Car
      <br>Interior Color Material Finish Design</p>
    </div>
  </div>
  
  <div class="work-container scrollify">
    <div>
      <%= image_tag @s3+"eye-catch-commit-san.jpg", class: 'work-eye-catch fadein' %>
    </div>
    <div class="work-text-container fadein">
      <h2>COMMIT-san</h2>
      <p>Web Application
      <br>UIUX Design / Web Application Development</p>
    </div>
  </div>
  
  <div class="work-container scrollify">
    <div>
      <%= image_tag @s3+"eye-catch-patrol.jpg", class: 'work-eye-catch fadein' %>
    </div>
    <div class="work-text-container fadein">
      <h2>NISSAN PATROL</h2>
      <p>Production Car
      <br>Interior Color Material Finish Design</p>
    </div>
  </div>
  
  <div class="work-container scrollify">
    <div>
      <%= image_tag @s3+"eye-catch-4dflower.jpg", class: 'work-eye-catch fadein' %>
    </div>
    <div class="work-text-container fadein">
      <h2>4D flower</h2>
      <p>Product Design Concept
      <br>Prduct Design / 3D Modeling / Graphic Design</p>
    </div>
  </div>
  
  <div class="work-container scrollify">
    <div>
      <%= image_tag @s3+"eye-catch-zgtr.jpg", class: 'work-eye-catch fadein' %>
    </div>
    <div class="work-text-container fadein">
      <h2 class="text-zgtr">NISSAN GT-R / Fairlady-Z
      <br>50th Anniversary Edition</h2>
      <p>Production Car
      <br>Color Material Finish Design</p>
    </div>
  </div>
</div>

<div class="skills-wrapper scrollify" id="3">
  <div class="skill-container fadein">
    <div class="skill-text-container">
      <h3>Graphic Design</h3>
      <p>Photoshop / Illustrator / Figma</p>
    </div>
    <div class="skill-icon-container">
      <%= image_tag @s3+"ikeatsu-works-icons-photoshop.png", class: 'skill-icon' %>
      <%= image_tag @s3+"ikeatsu-works-icons-illustrator.png", class: 'skill-icon' %>
      <%= image_tag @s3+"ikeatsu-works-icons-figma.png", class: 'skill-icon' %>
    </div>
  </div>
  <div class="skill-container fadein">
    <div class="skill-text-container">
      <h3>3D Modeling</h3>
      <p>Cinema 4D / Key shot</p>
    </div>
    <div class="skill-icon-container">
      <%= image_tag @s3+"ikeatsu-works-icons-cinema4d.png", class: 'skill-icon' %>
      <%= image_tag @s3+"ikeatsu-works-icons-keyshot.png", class: 'skill-icon' %>
    </div>
  </div>
  <div class="skill-container fadein">
    <div class="skill-text-container">
      <h3>Movie Edit</h3>
      <p>Premiere Pro</p>
    </div>
    <div class="skill-icon-container">
      <%= image_tag @s3+"ikeatsu-works-icons-premiere-pro.png", class: 'skill-icon' %>
    </div>
  </div>
  <div class="skill-container fadein">
    <div class="skill-text-container">
      <h3>Programing</h3>
      <p>Ruby on Rails / HTML / CSS / Javascript</p>
    </div>
    <div class="skill-icon-container">
      <%= image_tag @s3+"ikeatsu-works-icons-ruby-on-rails.png", class: 'skill-icon' %>
      <%= image_tag @s3+"ikeatsu-works-icons-java-script.png", class: 'skill-icon' %>
      <%= image_tag @s3+"ikeatsu-works-icons-html.png", class: 'skill-icon' %>
      <%= image_tag @s3+"ikeatsu-works-icons-css.png", class: 'skill-icon' %>
    </div>
  </div>
</div>


<div class="services-wrapper scrollify" id="4">
  <div class="service-container fadein">
    <div class="service-text-container">
      <h3>Product Creation</h3>
      <p>ゼロベースからのアイデア発想・コンセプトメイク・要件定義
      <br>デザインへの落とし込み、動くモノの試作・開発まで
      <br>クリエイションを一貫してサポートします</p>
    </div>
    <div class="service-icon-container">
      <%= image_tag @s3+"ikeatsu-works-icons-service-01.png", class: 'service-icon' %>
    </div>
  </div>
  <div class="service-container fadein">
    <div class="service-text-container">
      <h3>Service Improovement</h3>
      <p>ユーザー体験向上のボトルネックとなっている課題を
      <br>UI/UXデザインおよびブランディングの視点で分析し
      <br>体系的に再構築した改善案を提案いたします</p>
    </div>
    <div class="service-icon-container">
      <%= image_tag @s3+"ikeatsu-works-icons-service-02.png", class: 'service-icon' %>
    </div>
  </div>
  <div class="service-container fadein">
    <div class="service-text-container">
      <h3>Design Consulting</h3>
      <p>webサイト製作・インフォグラフィックスのデザインなど
      <br>アートディレクションからデザイン制作まで
      <br>幅広いデザイン課題に対応いたします</p>
    </div>
    <div class="service-icon-container">
      <%= image_tag @s3+"ikeatsu-works-icons-service-03.png", class: 'service-icon' %>
    </div>
  </div>
</div>

<div class="contact-wrapper  scrollify" id="5">
  <div class="skill-container fadein">
    <div class="skill-text-container">
      <h3>E-mail</h3>
      <p>プロジェクトのご相談など、どうぞお気軽にご連絡ください</p>
    </div>
    <div class="contact-icon-container">
      <%= image_tag @s3+"ikeatsu-works-icons-mail.png", class: 'skill-icon' %>
    </div>
  </div>
  <div class="skill-container fadein">
    <div class="skill-text-container">
      <h3>twitter</h3>
      <p>つくる楽しさを発信しています</p>
    </div>
    <div class="contact-icon-container">
      <a href="https://twitter.com/ikat_de" target="_blank">
        <%= image_tag @s3+"ikeatsu-works-icons-twitter.png", class: 'skill-icon' %>
      </a>
    </div>
  </div>
  <div class="skill-container fadein">
    <div class="skill-text-container">
      <h3>note</h3>
      <p>思いや考えを綴っています</p>
    </div>
    <div class="contact-icon-container">
      <a href="https://note.mu/ikat_de" target="_blank">
        <%= image_tag @s3+"ikeatsu-works-icons-note.png", class: 'skill-icon' %>
      </a>    
    </div>
  </div>
  <div class="skill-container fadein">
    <div class="skill-text-container">
      <h3>Github</h3>
      <p>プログラムのソースコードを公開しています</p>
    </div>
    <div class="contact-icon-container">
      <a href="https://github.com/ikat-de" target="_blank">
        <%= image_tag @s3+"ikeatsu-works-icons-github.png", class: 'skill-icon' %>
      </a>   
    </div>
  </div>
  <p class="footer-text">©️2019 IKE-ATSU WORKS All right reserved.</p>
</div>



<script>
  $.scrollify({section:".scrollify"});

  $(window).scroll(function (){
    $('.fadein').each(function(){
      var elemPos = $(this).offset().top,
        scroll = $(window).scrollTop(),
        windowHeight = $(window).height();
      if (scroll > elemPos - windowHeight){
        $(this).addClass('scrollin');
      }
    });
  });  

  $(function(){
    $('a[href^="#"]').click(function(){
      $('body').toggleClass('open');
      var speed = 1000;
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $("html, body").animate({scrollTop:position}, speed, "swing");
      return false;
    });
  });
  
  $(function () {
      $('#nav-toggle').on('click', function() {
          $('body').toggleClass('open');
      });
  });
  
  $(function(){
		Window = $(window);
  	Window.scroll(function() {
  		$("#2").each(function() {
  			if (Window.scrollTop() > $(this).offset().top - Window.height()) {
  				$('a[href^="#"]').removeClass("selected");
  				$('a[href^="#2"]').addClass("selected");
  			}
  			else {
  				$('a[href^="#2"]').removeClass("selected");
  			}
  		});
  		$("#3").each(function() {
  			if (Window.scrollTop() > $(this).offset().top - Window.height()) {
  				$('a[href^="#"]').removeClass("selected");
  				$('a[href^="#3"]').addClass("selected");
  			}
  			else {
  				$('a[href^="#3"]').removeClass("selected");
  			}
  		});
  		$("#4").each(function() {
  			if (Window.scrollTop() > $(this).offset().top - Window.height()) {
  				$('a[href^="#"]').removeClass("selected");
  				$('a[href^="#4"]').addClass("selected");
  			}
  			else {
  				$('a[href^="#4"]').removeClass("selected");
  			}
  		});
  		$("#5").each(function() {
  			if (Window.scrollTop() > $(this).offset().top - Window.height()) {
  				$('a[href^="#"]').removeClass("selected");
  				$('a[href^="#5"]').addClass("selected");
  			}
  			else {
  				$('a[href^="#5"]').removeClass("selected");
  			}
  		});
  	});
  });  
</script>

