<!DOCTYPE html>
<html>
  <head>
    <title>IkeatsuWorks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-scrollify@1/jquery.scrollify.min.js"></script>
  </head>

  <body style="font-family: 'M PLUS 1p', sans-serif;background: #e9e9e9">
    <header>
      <div class="header-container">
        <div>
          <a href="#1">
            <%= image_tag @s3+"ikeatsu-works-logo.png", class: 'header-logo' %>
          </a>
        </div>
        <div class="menu-container">
          <a href="#2">WORKS</a>
          <a href="#3">SKILLS</a>
          <a href="#4">SERVICE</a>
          <a href="#5">CONTACT</a>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
