<!DOCTYPE html>
<html>
  <head>
    <title>IkeatsuWorks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="font-family: 'M PLUS 1p', sans-serif">
    <div style="background: #637373">
      <%= yield %>
    </div>
    <footer style="padding-top: 100px;background-color: #383838;width: 100vw;height: 800px;position: relative;overflow: hidden;text-align: center;color: white;font-size: 1.5em;line-height: 3em">
      <div>
        <%= image_tag @s3+"ikeatsu-works-favicon.png", class: 'footer-icon' %>
        <p>IKE-ATSU WORKS</p>
        <p><a href="#1" style="color: white">SERVICE</a></p>
        <p><a href="#2" style="color: white">WORKS</a></p>
        <p><a href="#3" style="color: white">SKILLS</a></p>
        <p><a href="#4" style="color: white">CONTACT</a></p>
        <p>©️2019 IKE-ATSU WORKS All right reserved.</p>
      </div>
    </footer>
  </body>
</html>
